/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: paleturquoise;
  --color-boxes: #010;
  --color-edges: #040;
  --color-link: #ada;
  --color-mark: crimson;
  --color-text: #fafafa;
  --color-main-active: darkcyan;
  --color-main-link: darkgreen;
  --color-main-text: black;
  --transition: 250ms;
}
body {
  background: var(--color-edges);
  color: var(--color-text);
}
body a,
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
  transition: var(--transition);
}
body summary {
  border-color: var(--color-edges);
  border-top-color: var(--color-link);
}
body summary:focus,
body summary:hover,
body summary:active {
  border-color: var(--color-active);
  color: var(--color-active);
}
/* color main */
main {
  background: var(--color-text);
  color: var(--color-main-text);
}
main a,
main a:link,
main a:visited {
  color: var(--color-main-link);
}
main a:focus,
main a:hover,
main a:active {
  color: var(--color-main-active);
}
main b,
main dfn,
main dt,
main strong {
  color: var(--color-main-active);
}
main blockquote {
  background: white;
}
main hr {
  border-color: var(--color-edges);
}
main mark {
  background: none;
  color: var(--color-mark);
}
main pre {
  background: black;
  color: #ada;
}
main summary {
  background: var(--color-boxes);
  border-color: var(--color-edges);
  border-top-color: var(--color-link);
  color: var(--color-text);
}
main table {
  background: white;
  color: black;
}
main table tr:nth-child(even){
  background: var(--color-link);
  color: var(--color-boxes);
}
main table thead {
  background: var(--color-edges);
  color: var(--color-text);
}
/* color nav */
nav {
  background: var(--color-boxes);
}
nav a {
  border-color: transparent;
}
nav a[href="#"] {
  color: var(--color-active);
}
/* color others */
#icons,
#jump,
#klf {
  background: var(--color-boxes);
}
#icons img {
  background: white;
}
