/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
/* Chrome hack */
summary::-webkit-details-marker {
  display: none;
}
/* display main */
main cite,
main iframe,
main .gallery {
  display: block;
}
main ol {
  list-style: decimal-leading-zero;
}
main ul {
  list-style: none;
}
main ul li::before {
  content: "âƒ ";
}
/* display nav */
nav a,
nav details,
nav summary {
  display: block;
}
/* display others */
#icons img,
#jump a,
#klf address {
  display: inline-block;
}
