/*
Grid layout for each page.
https://www.w3schools.com/css/css_grid.asp
*/
body {
  grid-column-gap: .5vw;
  grid-row-gap: 0;
  grid-template-areas:
    'nav icons'
    'nav main'
    'nav klf'
    'nav .'
    'nav jump';
  grid-template-columns: 1fr minmax(0,5fr);
  grid-template-rows: auto 1fr auto .5vh auto;
  margin: .5vh .5vw;
  max-width: 99vw;
  min-height: 99vh;
  overflow-y: scroll;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}
#icons {
  grid-area: icons;
}
#jump {
  grid-area: jump;
}
#klf {
  grid-area: klf;
}
