# Apple debris
.DS_Store*
.Spotlight-*
.Trashes
.fseventsd
Thumbs.db

# Temporary data
/data/*
!/data/ergast/f1.*

# Python caches
*.egg
*.egg-info
*.py[cod]
*.so
.cache/
.pytest_cache/
.tox/
.venv/
__pycache__/
