/* align */
body {
  text-align: center;
}
/* align main */
main {
  text-align: left;
}
main figure,
main h1,
main h2,
main hr {
  text-align: center;
}
/* align nav */
nav {
  text-align: left;
}
/* align others */
#icons,
#jump {
  text-align: right;
}
#klf {
  text-align: left;
}
