/*
Alignment, text indentation, etc.
https://www.w3schools.com/css/css_text.asp
*/
body {
  text-align: center;
}
/* align main */
main {
  text-align: left;
}
main figure,
main .gallery,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main hr {
  text-align: center;
}
/* align nav */
nav {
  text-align: right;
}
nav a {
  vertical-align: top;
}
nav a[rel="home"] {
  float: left;
}
nav details {
  text-align: center;
  vertical-align: top;
}
/* align others */
#icons img {
  vertical-align: middle;
}
