/* border */
:root {
  --border: thin solid;
}
/* border main */
main details,
main hr {
  border: var(--border);
}
/* border nav */
nav summary {
  border-bottom: var(--border);
}
/* border others */
#icons img {
  border: var(--border);
}
