/* color */
:root {
  --color-active: red;
  --color-boxes: rgba(0,0,0,.5);
  --color-code: green;
  --color-link: slategrey;
  --color-mark: yellow;
  --color-text: #f1f1f1;
  --transition: 250ms;
}
body {
  background-attachment: fixed;
  background-color: black;
  background-image: url("media/carbon.jpeg");
  color: var(--color-text);
}
body a,
body a:link,
body a:visited {
  color: var(--color-link);
  transition: var(--transition);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
}
body summary {
  transition: var(--transition);
}
body summary:focus,
body summary:hover,
body summary:active {
  border-color: var(--color-active);
}
/* color main */
main {
  background: var(--color-boxes);
}
main code,
main kbd,
main samp,
main pre,
main var {
  color: var(--color-code);
}
main dfn,
main dt,
main mark {
  background: none;
  color: var(--color-mark);
}
main blockquote,
main pre {
  background: white;
  color: black;
}
main hr {
  border-color: var(--color-boxes);
}
main table tr,
main table thead {
  background: var(--color-boxes);
  color: var(--color-text);
}
/* color nav */
nav a[href="#"] {
  color: var(--color-active);
}
/* color others */
#icons img {
  /* border-color: transparent; */
  border-color: pink;
  transition: var(--transition);
}
#icons img:focus,
#icons img:hover,
#icons img:active {
  border-color: var(--color-active);
}
