/* embiggen */
:root {
  --marge: 1rem auto;
  --padme: .25rem .5rem;
  --puffy: .75rem 1.5rem;
}
body dd,
body ol,
body ul {
  margin-left: 0;
  padding-left: 0;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
@media all and (min-width: 64rem) {
  main {
    padding-left: calc(50vw - 30rem);
    padding-right: calc(50vw - 30rem);
  }
}
main blockquote,
main details,
main pre {
  margin: var(--marge);
  overflow-x: auto;
  padding: var(--padme);
}
main dt,
main figure,
main hr {
  margin: var(--marge);
}
main table {
  box-sizing: border-box;
  margin: var(--marge);
  overflow-x: auto;
  padding: 0;
  width: 100%;
}
main table td,
main table th {
  padding: var(--padme);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
/*
nav,
nav a,
nav details {
  padding: var(--padme);
}
*/
nav summary {
  width: 100%;
}
/* embiggen others */
#icons,
#jump,
#klf {
  margin: auto 0;
  padding: var(--puffy);
}
#icons img {
  height: 1.25rem;
  padding: var(--padme);
}
#jump a {
  padding: var(--padme);
}
