/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge: 1rem auto;
  --padme: .25rem .5rem;
  --puffy: .5rem 1rem;
}
body dd,
body ol,
body ul {
  margin-left: 4vw;
  padding-left: 0;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
@media all and (min-width: 64rem) {
  main {
    padding-left: calc(50vw - 30rem);
    padding-right: calc(50vw - 30rem);
  }
}
main blockquote,
main details,
main pre {
  margin: var(--marge);
  overflow-x: auto;
  padding: var(--puffy);
}
main dt,
main figure,
main .gallery,
main hr,
main iframe {
  margin: var(--marge);
}
main table {
  box-sizing: border-box;
  margin: var(--marge);
  overflow-x: auto;
  padding: 0;
  width: 100%;
}
main table td,
main table th {
  padding: var(--padme);
}
/* embiggen nav */
nav,
nav a,
nav details {
  padding: var(--padme);
}
nav summary {
  width: 100%;
}
/* embiggen others */
#icons {
  padding: var(--padme);
}
#icons img {
  height: 1.5rem;
  margin: 0 .75rem;
  width: 1.5rem;
}
#jump a {
  padding: var(--puffy);
}
#klf {
  padding: var(--puffy);
}
