/* font */
@font-face {
  font-family: AnonymousPro;
  src:
    url("media/fonts/AnonymousPro-Regular.ttf"),
    url("media/fonts/AnonymousPro-Bold.ttf"),
    url("media/fonts/AnonymousPro-Italic.ttf"),
    url("media/fonts/AnonymousPro-BoldItalic.ttf");
}
html {
  font-family: AnonymousPro, Monaco, monospace;
  font-size: calc(8px + 1vw);
  line-height: 1.2;
}
@media all and (min-width: 800px) {
  html {
    font-size: 16px;
  }
}
body a {
  text-decoration: none;
}
/* font main */
main b,
main dfn,
main dt,
main strong,
main summary {
  font-style: normal;
  font-weight: bold;
}
/* font nav */
nav {
  font-size: 1.25rem;
}
nav a[rel="home"] {
  font-weight: bold;
}
/* font others */
#klf {
  font-size: .75rem;
}
