/*
Font family, size, weight, etc.
https://www.w3schools.com/css/css_font.asp
*/
@font-face {
  font-family: AnonymousPro;
  src:
    url("media/fonts/AnonymousPro-Regular.ttf"),
    url("media/fonts/AnonymousPro-Bold.ttf"),
    url("media/fonts/AnonymousPro-Italic.ttf"),
    url("media/fonts/AnonymousPro-BoldItalic.ttf");
}
html {
  font-family: AnonymousPro, Monaco, monospace;
  font-size: calc(8px + 1vw);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
@media all and (min-width: 800px) {
  html {
    font-size: 16px;
  }
}
body a {
  text-decoration: none;
}
/* font main */
main {
  font-weight: lighter;
}
main b,
main dfn,
main dt,
main strong,
main summary {
  font-style: normal;
  font-weight: bold;
}
main blockquote {
  font-family: sans-serif;
}
main code,
main kbd,
main samp,
main pre,
main table,
main var {
  font-family: Monaco, Consolas, monospace;
  font-size: .875rem;
  font-weight: normal;
}
/* font nav */
nav {
  font-variant: small-caps;
  text-transform: capitalize;
}
nav a[rel="home"] {
  font-size: 2rem;
}
/* font others */
#jump,
#klf {
  font-size: .75rem;
}
