/* variables */
:root {
  --border: thin dotted black;
  --color-active: red;
  --color-button: green;
  --color-link: lightsteelblue;
  --color-mark: yellow;
  --color-head: rgba(0,0,0,.5);
  --color-text: #f1f1f1;
  --font-yuge: 1.5rem;
  --font-smol: .75rem;
  --marge: 1em auto 0;
  --padme: .25rem .5rem;
  --puffy: .75rem 1.5rem;
}
/* font */
@font-face {
  font-family: AnonymousPro;
  src:
    url("fonts/AnonymousPro-Regular.ttf"),
    url("fonts/AnonymousPro-Bold.ttf"),
    url("fonts/AnonymousPro-Italic.ttf"),
    url("fonts/AnonymousPro-BoldItalic.ttf");
}
/* body */
body {
  background-attachment: fixed;
  background-color: black;
  background-image: url("carbon.jpeg");
  color: var(--color-text);
  display: grid;
  font-family: AnonymousPro, Monaco, monospace;
  font-size: calc(10px + .5vw);
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-areas:
    'nav  icons icons'
    'main main  main'
    'klf  klf   jump';
  grid-template-columns: auto auto auto;
  grid-template-rows: max-content 1fr max-content;
  line-height: 1.25;
  margin: 0;
  min-height: 100vh;
}
@media all and (min-width: 1000px) {
  body {
    font-size: 15px;
  }
}
/* anchors */
a {
  text-decoration: none;
}
a,
a:link,
a:visited {
  color: var(--color-link);
}
a:focus,
a:hover,
a:active {
  color: var(--color-active);
}
a img {
  border: var(--border);
  border-color: transparent;
  padding: var(--padme);
}
a img:focus,
a img:hover,
a img:active {
  border-color: var(--color-active);
}
details summary {
  border-bottom: var(--border);
}
details summary:focus,
details summary:hover,
details summary:active {
  background: var(--color-button);
}
/* Chrome hack */
summary::-webkit-details-marker {
  display: none;
}
/* formats */
b,
dfn,
dt,
mark,
strong {
  background: none;
  color: var(--color-mark);
  font-style: normal;
  font-weight: bold;
}
/* main */
main {
  grid-area: main;
  padding: var(--puffy);
}
main blockquote,
main pre {
  border: var(--border);
  margin: var(--marge);
  overflow-x: auto;
  padding: var(--puffy);
}
main blockquote cite {
  display: block;
}
main details {
  margin: var(--marge);
}
main dd {
  margin-left: 0;
  padding-left: 0;
}
main dt {
  margin: var(--marge);
}
main h2 {
  background: var(--color-head);
  text-align: center;
}
main h3 {
  text-align: center;
}
main img {
  max-width: 100%;
}
main ol,
main ul {
  list-style: square;
}
main table {
  box-sizing: border-box;
  margin: var(--marge);
  overflow-x: auto;
  padding: 0;
  width: 100%;
}
main table td,
main table th {
  padding: var(--padme);
}
main table thead {
  background: var(--color-head);
}
/* nav */
nav {
  background: var(--color-head);
  font-size: var(--font-yuge);
  grid-area: nav;
  padding: var(--puffy);
  text-align: left;
}
nav a {
  padding: var(--padme);
}
nav a[href="#"] {
  color: var(--color-mark);
}
/* others */
#icons {
  background: var(--color-head);
  font-size: var(--font-yuge);
  grid-area: icons;
  padding: var(--puffy);
  text-align: right;
}
#icons img {
  height: 1em;
  width: 1em;
  vertical-align: top;
}
#jump {
  background: var(--color-head);
  grid-area: jump;
  padding: var(--puffy);
  text-align: right;
}
#jump a {
  padding: var(--padme);
}
#klf {
  background: var(--color-head);
  font-size: var(--font-smol);
  grid-area: klf;
  padding: var(--puffy);
  text-align: left;
}
#klf address {
  display: inline;
}
