/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: thin ridge;
}
body a img,
body details {
  border: var(--border);
}
/* border main */
main blockquote,
main pre,
main hr {
  border: var(--border);
}
/* border nav */
nav a {
  border: var(--border);
}
nav details > details {
  border: none;
  border-top: var(--border);
}
