/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: #f44;
  --color-boxes: rgba(0,0,0,.8);
  --color-code: #bbb;
  --color-link: #f6ad52;
  --color-text: whitesmoke;
  --text-shadow: 0px -2px 3px firebrick;
  --transition: 451ms;
}
body {
  background-attachment: fixed;
  background-blend-mode: lighten;
  background-color: #ea941d;
  background-image: url("media/tyger.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  color: var(--color-text);
}
body a,
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active,
body summary:focus,
body summary:hover,
body summary:active {
  color: var(--color-active);
  transition: var(--transition);
}
/* color main */
main {
  background: var(--color-boxes);
  color: var(--color-text);
}
main b,
main dfn,
main dt,
main strong {
  color: var(--color-active);
}
main blockquote,
main pre {
  background: var(--color-boxes);
}
main code,
main kbd,
main samp,
main pre,
main var {
  color: var(--color-code);
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  text-shadow: var(--text-shadow);
}
main mark {
  background: none;
  color: var(--color-active);
}
main table thead {
  background: white;
}
main table tr:nth-child(odd) {
  background: var(--color-boxes);
  border-color: var(--color-text);
}
/* color nav */
nav {
  background: var(--color-boxes);
}
nav a {
  border-color: transparent;
}
nav a[href="#"] {
  color: var(--color-active);
}
/* color others */
#icons,
#jump,
#klf {
  background: var(--color-boxes);
}
#icons img {
  background: white;
}
