/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
/* Chrome hack */
summary::-webkit-details-marker {
  display: none;
}
/* display main */
main cite,
main iframe,
main .gallery {
  display: block;
}
main ul {
  list-style: none;
}
main ul li::before {
  content: "🐈 ";
}
/* display nav */
nav a,
nav details,
nav summary {
  display: inline-block;
}
nav a[rel="home"],
nav details > details,
nav details summary ~ a {
  display: block;
}
/* display others */
#icons img {
  display: inline-block;
}
#klf address {
  display: block;
}
