/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: #ffe873;
  --color-boxes: rgba(100,100,100,.125);
  --color-code: #ada;
  --color-head: #aaa;
  --color-link: #ace;
  --color-mark: deeppink;
  --color-text: azure;
  --text-shadow: 1px 0 1px black;
}
body {
  background-attachment: fixed;
  background-image:
    radial-gradient(
      circle farthest-corner at 0% 0%,
      #001 75%, steelblue 87%, black 94%
    );
  color: var(--color-text);
  text-shadow: var(--text-shadow);
}
body a,
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active {
  color: var(--color-active);
}
body details {
  background: var(--color-boxes);
  border-color: var(--color-boxes);
  box-shadow: 0 0 2px var(--color-head);
}
body summary:focus,
body summary:hover,
body summary:active {
  color: var(--color-active);
}
/* color main */
main {
  background: var(--color-boxes);
  text-shadow: none;
}
main b,
main dfn,
main dt,
main strong {
  color: var(--color-active);
}
main blockquote,
main pre {
  background: var(--color-boxes);
}
main code,
main kbd,
main samp,
main pre,
main var {
  color: var(--color-code);
}
main hr {
  border-color: var(--color-boxes);
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  color: var(--color-head);
  text-shadow: var(--text-shadow);
}
main mark {
  background: none;
  color: var(--color-mark);
}
main table,
main table thead,
main table tr:nth-child(odd) {
  background: var(--color-boxes);
}
/* color nav */
nav a[href="#"] {
  color: var(--color-active);
}
nav details:focus,
nav details:hover,
nav details:active {
  border-color: var(--color-active);
}
/* color others */
#icons img {
  background: white;
}
