circle {
  animation: spin 1s ease-out;
  fill-opacity: 0.75;
  stroke: black;
  stroke-width: 0.1;
  transform-origin: 50% 50%;
}
@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotate(1turn);
  }
}
