circle {
  animation: spin 720s infinite linear;
  fill-opacity: 0.5;
  stroke: black;
  stroke-width: 0.1;
  transform-origin: 50% 50%;
}
@keyframes spin {
  transform: rotate(1turn);
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
